{% import "common/navbar.html" as nav %}
<!DOCTYPE HTML>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>
    <body>
        {% if 'userid' in session %}
        {{ nav.navbar(request.url_rule.endpoint) }}
        {% endif %}
        <div class="container" style="margin-bottom:50px;">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
