{% extends "common/base.html" %}
{% block title %}Index{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-6 col-md-offset-3">
        <div class="row" style="margin:15px 0; border: 1px solid #D9D9D9; border-radius: 8px; padding: 10px">
            <p><strong>{{tweet.author.screen_name}}</strong></p>
            <p>{{tweet.text}}</p>
        </div>
        <form role="form" method="POST">
            <input type="hidden" name="tweetId" value="{{tweet.id}}">
            {%if replyId%}<input type="hidden" name="replyid" value="{{replyId}}">{%endif%}
            <div class="row">
                <div class="col-lg-12 form-group">
                    <textarea id="message" rows=10 name="message" placeholder="Enter reply here" class="form-control">{% if message %}{{message}}{%else%}@{{tweet.author.screen_name}}{% endif %}</textarea>
                    <p class="pull-right" id="charcount"></p>
                </div>
                <div class="row">
                    <h3>Scheduled time</h3>
                    <p><small><em>Note: Time is in 24 hour format</em></small></p>
                    <div class="col-lg-3">
                        <label>Hour</label>
                        <select name="hour">
                            {%for i in range(0,24)%}
                            {%if i == timeToPost.hour %}
                            <option value="{{i}}" selected>{{i}}</option>
                            {%else%}
                            <option value="{{i}}">{{i}}</option>
                            {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Minute</label>
                        <select name="minute">
                            {%for i in range(0,60)%}
                            {%if i == timeToPost.minute %}
                            <option value="{{i}}" selected>{{i}}</option>
                            {%else%}
                            <option value="{{i}}">{{i}}</option>
                            {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Month</label>
                        <select name="month">
                            {%for i in range(1,13)%}
                            {%if i == timeToPost.month %}
                            <option value="{{i}}" selected>{{i}}</option>
                            {%else%}
                            <option value="{{i}}">{{i}}</option>
                            {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Day</label>
                        <select name="day">
                            {%for i in range(1,32)%}
                            {%if i == timeToPost.day %}
                            <option value="{{i}}" selected>{{i}}</option>
                            {%else%}
                            <option value="{{i}}">{{i}}</option>
                            {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <h3>Timezone information</h3>
                    <div class="col-lg-3">
                        <label>Hour</label>
                        <select name="tzhour">
                            {%for i in range(0,15)%}
                            {%if i == timeZoneInformation['hours']%}
                            <option value="{{i}}" selected>{{i}}</option>
                            {%else%}
                            <option value="{{i}}">{{i}}</option>
                            {%endif%}
                            {%endfor%}
                            {%for i in range(1,13)%}
                            {%if i*-1 == timeZoneInformation[hours]%}
                            <option value="{{i*-1}}" selected>{{i*-1}}</option>
                            {%else%}
                            <option value="{{i*-1}}" >{{i*-1}}</option>
                            {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Minute</label>
                        <select name="tzminute">
                            {% for i in [0, 15, 30, -15, -30]%}
                            {%if i == timeZoneInformation['minutes']%}
                            <option value="{{i}}" selected>{{i}}</option>
                            {% else %}

                            <option value="{{i}}">{{i}}</option>
                            {%endif%}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <input type="submit" class="btn btn-primary" value="Schedule Reply">
            </div>
        </form>
    </div>
</div>
<script>
    $('#charcount').html($('#message').val().length);
    $('#message').keyup(function(){
        $('#charcount').html($('#message').val().length);
    });
</script>
{% endblock %}

