{% extends "common/base.html" %}
{% block title %}Index{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-6 col-md-offset-3">
        <form role="form" method="POST">
            <div class="row">
                <div class="col-lg-12 form-group">
                    <textarea name="message" placeholder="Enter reply here" class="form-control"></textarea>
                </div>
                <div class="row">
                    <h3>Scheduled time</h3>
                    <div class="col-lg-3">
                        <label>Hour</label>
                        <select name="hour">
                            {%for i in range(0,24)%}
                            <option>{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Minute</label>
                        <select name="minute">
                            {%for i in range(0,60)%}
                            <option>{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Month</label>
                        <select name="month">
                            {%for i in range(1,13)%}
                            <option>{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Day</label>
                        <select name="day">
                            {%for i in range(1,32)%}
                            <option>{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <h3>Timezone information</h3>
                    <div class="col-lg-3">
                        <label>Hour</label>
                        <select name="tzhour">
                            {%for i in range(0,15)%}
                            <option>{{i}}</option>
                            {%endfor%}
                            {%for i in range(1,13)%}
                            <option>-{{i}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Minute</label>
                        <select name="tzminute">
                            <option>0</option>
                            <option>15</option>
                            <option>30</option>
                            <option>-15</option>
                            <option>-30</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <input type="submit" class="btn btn-primary" value="Schedule Reply">
            </div>
        </form>
    </div>
</div>
{% endblock %}

