{% extends "common/base.html" %}
{% block title %}View Schedule{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-6 col-md-offset-3">
        <h2>View Schedule</h2>
        <div style="margin-bottom: 20px;" class="row">
            <div class="col-lg-12">
                <a style="margin-right: 10px;" href="{{url_for('viewSchedule', view='cancelled')}}">Cancelled</a>
                <a style="margin-right: 10px;" href="{{url_for('viewSchedule', view='sent')}}">Sent</a>
                <a style="margin-right: 10px;" href="{{url_for('viewSchedule', view='unsent')}}">Unsent</a>
                <a style="margin-right: 10px;" href="{{url_for('viewSchedule', view='all')}}">All</a>
            </div>
        </div>
        {% for replyInfo in replySchedule %}
        <div class="row" style="margin: 0 10px 15px 0px; border: 1px solid #D9D9D9; border-radius: 12px;">
            <div class="col-lg-12">
                <div>
                    <p style="border-bottom: 1px solid #D9D9D9; padding-top: 10px; padding-bottom:10px;">{{replyInfo['reply'].message}}</p>
                    <p><strong>Scheduled at: </strong>{{replyInfo['reply'].scheduledTime}}</p>
                    <p><small><strong>Status: </strong>{{replyInfo['reply'].sentStatus}}</small></p>
                </div>
                {% if replyInfo['reply'].sentStatus == 'unsent'%}
                <div class="row">
                    <div class="col-lg-2">
                        <form method="GET" action="{{url_for('updateReply')}}">
                            <input type="hidden" value="{{replyInfo['reply'].replyId}}" name="replyid">
                            <input type="submit" class="btn btn-link" value="Edit">
                        </form>
                    </div>
                    <div class="col-lg-2">
                        <form method="POST" action="{{url_for('cancelReply')}}">
                            <input type="hidden" value="{{replyInfo['reply'].replyId}}" name="replyid">
                            <input type="submit" class="btn btn-link" value="Cancel">
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}
